{% extends 'temp/admin.html' %}

{% block base %}

<h1 align="center">VIEW HOSPITAL DETAILS</h1>
        <table align="" border="1">
		<tr>
			<td>HOSPITAL NAME</td>
			<td>ADDRESS</td>
			<td>PLACE</td>
			<td>PHONE</td>
		    <td>E-MAIL</td>
{#            <td>LATITUDE</td>#}
{#            <td>LONGTITUDE</td>#}
            <td></td>
            <td></td>

		</tr>
            {% if objval%}
             {% for ob in objval%}
		<tr>
			<td>{{ ob.h_name }}</td>
			<td>{{ ob.address }}</td>
			<td>{{ ob.place }}</td>
			<td>{{ ob.phone }}</td>
			<td>{{ ob.email }}</td>
{#            <td>{{ ob.latitude }}</td>#}
{#            <td>{{ ob.longtitude }}</td>#}
            <td><a href="" >EDIT</a></td>
            <td><a href="" >DELETE</a></td>

        </tr>
            {% endfor %}
        {% endif %}

		</table>
{% endblock %}