{% extends 'temp/index.html' %}
{% block base %}
<h1 align="center">POLICE REGISTRATION</h1>
	<form method="POST">
         {% csrf_token %}
		<table align="center">
								<tr>
						<td> NAME :</td>
						<td><input type="text" name="name"></td>
					</tr>
					<tr>
						<td>PLACE</td>
						<td><textarea name="place" rows="5"></textarea></td>

					</tr>
					<tr>
						<td>DISTRICT</td>

						<td><select name="dis">
							<option >-----SELECT----</option>
							<option value="THIRUVANATHAPURAM">THIRUVANATHAPURAM</option>
							<option value="KOLLAM">KOLLAM</option>
							<option value="ALAPPUZHA">ALAPPUZHA</option>
							<option value="PATHANAMTHITTA">PATHANAMTHITTA</option>
							<option value="KOTTAYAM">KOTTAYAM</option>
							<option value="IDUKKI">IDUKKI</option>
							<option value="ERNAKULAM">ERNAKULAM</option>
							<option value="THRISSUR">THRISSUR</option>
							<option value="PALAKAD">PALAKAD</option>
							<option value="MALAPPURAM">MALAPPURAM</option>
							<option value="KOZHIKODE">KOZHIKODE</option>
							<option value="WAYANAD">WAYANAD</option>
							<option value="KANNUR">KANNUR</option>
							<option value="KASARGOD">KASARGOD</option></select></td>

					</tr>

					<TR>
						<td>E-MAIL</td>
						<TD><input type="email" name="email"></TD>
					</TR>
            <tr>
						<td>PHONE</td>
						<td><input type="number" name="num"></td>
					</tr>
            <TR>
						<td>PASSWORD</td>
						<TD><input type="password" name="pass"></TD>
					</TR>
					<tr>
						<td><input type="submit" name="sub" value="REGISTER" class="btn btn-primary"></td>
						<td><input type="reset" name="sub" value="CANCEL" class="btn btn-primary"></td>
					</tr>
		</table>
	</form>
{% endblock %}